<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <form action="/post_user" method="post">
        <label>Username</label>
            <input type="text" id="username" name="username">
        <label>Email</label>
            <input type="text" id="email" name="email">
        <label>Password</label>
            <input type="password" name="password">
        <label>Nome</label>>
            <input type="text" name="nome">
        <label>Endereço</label>
            <input type="text" name="endereco">
        <label>CPF</label>
            <input type="text" name="cpf">
        <label>Matricula do funcionário<label>
            <input type="text" name="mat_func">
        <input type="submit" value="Add">

            <center>Mateus</center>

        <label>Cpf</label>
            <input type="text" name="cpf">
        <label>username</label>
            <input type="text" id="username" name="username">
        <label>date_nasc</label>
            <input type="date" name="date_nasc">
        <label>endereco</label>>
            <input type="text" name="endereco">
        <label>rg</label>
            <input type="text" name="rg">
        <label>email</label>
            <input type="text" id="email" name="email" >
        <label>password<label>
            <input type="password" name="password">
        <input type="submit" value="Add">
    </form>


</body>
</html>