<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Projeto Integrador</title>
  <!-- Bootstrap core CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <!-- Custom fonts for this template-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="static/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header"><center><b>Extensão Portal do aluno IFRO - Câmpus Zona Norte</b></center></div>
      <div class="card-body">
        <form method="post" action="login">
          <div class="form-group">
            <label for="exampleInputEmail1"><b>Endereço de Email</b></label>
            <input class="form-control" name='email' id='email' type="email" aria-describedby="emailHelp" placeholder="Ex: davi12@hotmail.com">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1"><b>Senha</b></label>
            <input class="form-control" name="password" id="password" type="password" placeholder="Senha">
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"><b>Lembrar Senha</b></label>
            </div>
          </div>
          <input type="submit" class="btn btn-primary btn-block" name="submit" value="Login">
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="register.html">Ainda não é registrado? Registre-se!</a>
          <a class="d-block small" href="forgot-password.html">Esqueceu a Senha?</a>

        </div>
      </div>
    </div>
  </div>
</body>

</html>
